@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px){
  font-size: 93.75%;
}

@media (max-width: 720px){
  font-size: 87.5%;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.calendly-inline-widget {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}